<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Book List</title>
</head>
<body>
    <table class="table table-striped">
        <thead>
            <th>Title</th>
            <th>Category</th>
            <th>Price</th>
            <th>Author Name</th>
            <th>Publisher</th>
            <th>publishedDate</th>
            <th>Chapters</th>
            <th>Active</th>
        </thead>
        <tbody>
            <tr *ngFor= "let b of books, index as i">
                <td>{{b.title}}</td>
                <td>{{b.category}}</td>
                <td>{{b.price | currency : "INR"}}</td>
                <td>{{b.authorName}}</td>
                <td>{{b.publisher}}</td>
                <td>{{b.publishedDate}}</td>
                <td>{{b.chapters}}</td>
                <td>{{b.active}}</td>

            </tr>
        </tbody>
      </table>
    <!-- <ul class="list-group">
        <li *ngFor= "let b of books, index as i" class="list-group-item">
            <span>
                {{b.title}}
            </span>
            <span>
                {{b.category}}
            </span>
            <span>
                {{b.price}}
            </span>
            <span>
                {{b.authorName}}
            </span>
            <span>
                {{b.publisher}}
            </span>
            <span>
                {{b.publishedDate}}
            </span>
            <span>
                {{b.chapters}}
            </span>
            <span>
                {{b.active}}
            </span>




        </li>
    </ul> -->
    
</body>
</html>