<h2 style="text-align: Center;">Add a Book</h2>
<br>
<div class="input-group mb-3">
    <span class="input-group-text" id="inputGroup-sizing-default">Book Name</span>
    <input [(ngModel)] = book.bookName type="text" class="form-control" aria-label="Sizing example input" aria-describedby="inputGroup-sizing-default">
  </div>
  <br>
  <div class="input-group mb-3">
    <span class="input-group-text" id="inputGroup-sizing-default">Book Genre</span>
    <input [(ngModel)] = book.bookGenre type="text" class="form-control" aria-label="Sizing example input" aria-describedby="inputGroup-sizing-default">
  </div>
  <br>
  <div class="input-group mb-3">
    <span class="input-group-text" id="inputGroup-sizing-default">Book Author</span>
    <input [(ngModel)] = book.bookAuthor type="text" class="form-control" aria-label="Sizing example input" aria-describedby="inputGroup-sizing-default">
  </div>
  <br>
  <div class="input-group mb-3">
    <span class="input-group-text" id="inputGroup-sizing-default">Book Price</span>
    <input [(ngModel)] = book.bookPrice type="text" class="form-control" aria-label="Sizing example input" aria-describedby="inputGroup-sizing-default">
  </div>
  <br>
  <label style="padding-left: 70px;">Availability</label>
  <div style="padding-left: 70px;" class="form-check">
    <input [(ngModel)] = book.borrowedStatus class="form-check-input" value=True type="radio" name="flexRadioDefault" id="flexRadioDefault1">
    <label class="form-check-label" for="flexRadioDefault1">
      Not Available
    </label>
  </div>
  <div style="padding-left: 70px;" class="form-check">
    <input [(ngModel)] = book.borrowedStatus class="form-check-input" value=false type="radio" name="flexRadioDefault" id="flexRadioDefault2" checked>
    <label class="form-check-label" for="flexRadioDefault2">
      Available
    </label>
  </div>
  <button (click)="save()" style="text-align: right;" type="button" class="btn btn-outline-success" [disabled]="book.bookName && book.bookAuthor ?null:true ">Add Book</button>