<ul class="list-group">
    <li *ngFor="let s of students, index as i" class="list-group-item">
        <span>
            {{s.firstname}}
        </span>
        <span>
            {{s.lastname}}
        </span>
        <span>
            class : {{s.class}}
        </span>
        <br/>
        <span>
            <button type="button" (click)="deleteRow(s,i)" style="margin-left: 1200px; color: red; 
            background-color: red;" class="btn-close" aria-label="close"></button>
        </span>
    </li>
  </ul>
  <button type="button" style="margin-left: 15px; margin-top: 10px;" (click)="sort()" 
  class="btn btn-secondary">Sort based on class</button>