<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <br>
    <div style=" border-style: groove;">
    <img src="https://images-workbench.99static.com/3itldzSE1KT4RNHsCFul3cGOLyA=/99designs-contests-attachments/56/56771/attachment_56771236" 
    height="100px" width="100px" alt="DigitalBooks" style="margin-left: 200px;"/> <button style="margin-left: 700px;" type="button" class="btn btn-outline-success">Signup</button> <button  type="button" class="btn btn-outline-success">Signin</button>
    <br>
    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;DigitalBooks

    </div>
    <br><br><br>
    <div style="border-style: groove;">
        <h4 style="margin-left: 600px;">Search Books</h4>
        <table align="center">
            
            <tr>
                <th><Label for="title">Title</Label></th>
                <td><input type="text" [(ngModel)]="book.title" placeholder="Enter title" id="title"></td>
            </tr>
            <tr>
                <th><Label for="author">Author</Label></th>
                <td><input type="text" [(ngModel)]="book.authorName" placeholder="Enter author name" id="author"></td>
            </tr>
            <tr>
                <th><Label for="publisher">Publisher</Label></th>
                <td><input type="text" [(ngModel)]="book.publisher" placeholder="Enter publisher" id="publisher"></td>
            </tr>
            <tr>
                <th><Label for="price">Price</Label></th>
                <td><input type="text" [(ngModel)]="book.price" placeholder="Enter Price" id="price"></td>
            </tr>
            
        </table>
        <br>
         <label style="margin-left: 750px;"><button (click)="searchBook()" type="button" class="btn btn-primary">Search</button></label>
    </div>
    <div>
        <h2>Book List</h2>
        <table class="table table-striped">
            <thead>
                <th>Title</th>
                <th>Category</th>
                <th>Price</th>
                <th>Author Name</th>
                <th>Publisher</th>
                <th>publishedDate</th>
                <th>Chapters</th>
                <th>Active</th>
            </thead>
            <tbody>
                <tr *ngFor= "let b of books, index as i">
                    <td>{{b.title}}</td>
                    <td>{{b.category}}</td>
                    <td>{{b.price}}</td>
                    <td>{{b.authorName}}</td>
                    <td>{{b.publisher}}</td>
                    <td>{{b.publishedDate}}</td>
                    <td>{{b.chapters}}</td>
                    <td>{{b.active}}</td>
    
                </tr>
            </tbody>
          </table>
    </div>
</body>
</html>